@charset "UTF-8";
*,
*::before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

/*=====================
共通
=====================*/
.section-title {
  text-align: center;
  font-size: 48px;
  padding-bottom: 14px;
  font-weight: bold;
  position: relative;
}
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}
@media screen and (max-width: 767px) {
  .section-title::after {
    width: 25px;
    height: 3px;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 24px;
    padding-bottom: 16px;
  }
}

/*===============
header
=================*/
.inner {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 180px;
  }
}
.header__logo img {
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav li {
  width: 100px;
  height: 100px;
}
.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 40px;
  left: 30px;
}
.header__nav li a.is-active::after {
  content: "";
  position: absolute;
  top: -43px;
  left: -30px;
  width: 100px;
  height: 3px;
  background: #E81919;
}

/*===============
main-visual
=================*/
.main-visual {
  height: 600px;
  width: 100%;
  background-image: url(../img/mainvisual.png);
  background-size: cover;
  position: relative;
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .main-visual__title {
    font-size: 32px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .main-visual__lead {
    font-size: 16px;
  }
}

.main-visual__button {
  margin-top: 36px;
}
.main-visual__button a {
  display: inline-block;
  width: 384px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  border-radius: 12px;
  box-shadow: #333333;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .main-visual__button a {
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

/*===============
Card
=================*/
.card {
  background: #EFEFEF;
  padding: 85px 0 120px;
}
@media screen and (max-width: 767px) {
  .card {
    padding: 50px 0 60px;
  }
}

.card__inner {
  width: 1200px;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.card__item {
  background: #fff;
  padding: 16px;
}
@media screen and (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0;
  }
  .card__item:nth-child(n+2) {
    margin-top: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .card__item {
    width: calc(33.3% - 16px);
  }
  .card__item:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n+4) {
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card__item {
    width: calc(50% - 12px);
  }
  .card__item:not(:nth-child(2n+1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n+3) {
    margin-top: 24px;
  }
}

.card__img img {
  width: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  color: #6F7579;
}

.card__text {
  font-weight: bold;
  margin-top: 14px;
  color: #6F7579;
  line-height: 1.7142857143;
}

/*=================
News
=================*/
.news {
  padding: 100px 0 120px;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 50px 0 60px;
  }
}

.news__content {
  width: 800px;
  max-width: 100%;
  margin: 80px auto 0;
}

.news__notice {
  display: flex;
  padding: 20px 0;
}
.news__notice:not(:first-child) {
  border-top: 1px solid #707070;
}
@media screen and (max-width: 767px) {
  .news__notice {
    display: block;
  }
}

.news__read {
  display: flex;
  width: 185px;
}

.news__time {
  width: 105px;
  padding-top: 5px;
}

.news__label {
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666;
  border-radius: 4px;
  font-weight: bold;
}
.news__label.is-blue {
  background: #3F51B5;
}
.news__label.is-red {
  background: #E81919;
}

.news__text {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 5px;
  line-height: 1.25;
}
@media screen and (max-width: 767px) {
  .news__text {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 4px;
  }
}

.news__more {
  margin-top: 60px;
  text-align: center;
}
.news__more a {
  font-size: 16px;
  font-weight: bold;
  color: #E81919;
  text-decoration: none;
  position: relative;
}
.news__more a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 7px;
  height: 11px;
  transform: translateY(-50%);
  background: url(../img/news-arrow@2x.png) no-repeat center center/contain;
}