$color-main: #3F51B5;
$color-accent: #E81919;
$color-text: #333333;
$layout-width-inner: 1280px;

$breakpoints: (
  //キー値
  'sp': 'screen and (max-width: 767px)',
  'tab': 'screen and (min-width: 768px) and (max-width: #{$layout-width-inner - 1px})',
  'pc': 'screen and (min-width: #{$layout-width-inner})'
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp){
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;
  }
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

html,
body{
  padding: 0;
  margin: 0;
}

body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img{
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


a{
  color: inherit;
}

a:hover{
  opacity: 0.7;
}

.container{
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clear::after{
  content: "";
  clear: both;
  display: block;
}

/*=====================
共通
=====================*/

section {
  padding: 100px 0 120px;
  @include mq('sp'){
    padding: 50px 0 60px;
  }
}

.section-title {
  text-align: center;
  font-size: 48px;
  padding-bottom: 14px;
  font-weight: bold;
  position: relative;
  margin-bottom: 108px;
  &::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    height: 4px;
    background: $color-main;
    @include mq('sp'){
      width: 25px;
    height: 3px;
    }
  }

  @include mq('sp'){
    font-size: 24px;
    padding-bottom: 16px;

  }
}

/*===============
header
=================*/

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;

  @include mq('tab'){
    padding-left: 24px;
    padding-right: 24px;
  }


  @include mq('sp'){
    padding-left: 14px;
    padding-right: 14px;
  }
}

.header {
  background: $color-main;
  height: 100px;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 3px rgba(#000, 0.16);
  z-index: 100;
  top: 0;
  left: 0;

  @include mq('sp'){
    height: 60px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;

  @include mq('sp'){
    width: 180px;
  }

  img {
    display: block;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include mq('sp'){
    display: none;
  }

  li {
    width: 100px;
    height: 100px;
    
    a {
      color: #fff;
      text-decoration: none;
      position: relative;
      top: 40px;
      left: 30px;
      &.is-active {
        &::after{
          content: "";
          position: absolute;
          top: -43px;
          left: -30px;
          width: 100px;
          height: 3px;
          background: $color-accent;
        }
      }
    }
  }
}

/*===============
main-visual
=================*/

.main-visual {
  height: 600px;
  width: 100%;
  background-image: url(../img/mainvisual.png);
  background-size: cover;
  position: relative;
  margin-top: 100px;

  @include mq('sp'){
    margin-top: 60px;
    height: 420px;
  }
}


.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  @include mq('sp'){
    font-size: 32px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
  @include mq('sp'){
    font-size: 16px;
  }
}

.main-visual__button {
  margin-top: 36px;
  a{
    display: inline-block;
    width: 384px;
    max-width: 100%;
    height: 72px;
    line-height: 72px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: $color-main;
    border-radius: 12px;
    box-shadow: #333333;
    text-decoration: none;

    @include mq('sp'){
      width: 300px;
      height: 60px;
      line-height: 60px;
      font-size: 24px;
    }
  }
}


/*===============
Card
=================*/

.card {
  background: #EFEFEF;
}

.card__inner {
  width: 1200px;
}

.card__head {
  
}

.card__items{
  display: flex;
  flex-wrap: wrap;
}


.card__item{
  background: #fff;
  padding: 16px;

  @include mq('sp'){
    width: 100%;
    margin-left: 0;
    &:nth-child(n + 2){
      margin-top: 24px;
    }
  }

  @include mq('pc'){
    width: calc(33.3% - 48px / 3);
    &:not(:nth-child(3n +1)) {
      margin-left: 24px;
    }
  
    &:nth-child(n + 4){
      margin-top: 24px;
    }
  }
  

  @include mq('tab'){
    width: calc(50% - 24px * 1 / 2);
    &:not(:nth-child(2n + 1)){
    margin-left: 24px;
    }
    &:nth-child(n + 3){
      margin-top: 24px;
    }
  }
}


.card__img {

  img {
    width: 100%;
  }
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  // margin-top: 16px;
  color: #6F7579;
}

.card__text { 
  font-weight: bold;
  margin-top: 14px;
  color: #6F7579;
  line-height: (24 / 14);
}


/*=================
News
=================*/

.news {
  background: #fff;
}

.news__inner {

}

.news__head {
  
}

.news__content {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.news__notice {
  display: flex;
  padding: 20px 0;
  
  &:not(:first-child){
    border-top: 1px solid #707070;
  }

  @include mq('sp'){
    display: block;
  }
}

.news__read {
  display: flex;
  width: 185px;
}


.news__time {
  width: 105px;
  padding-top: 5px;
}

.news__label {
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666;
  border-radius: 4px;
  font-weight: bold;

  &.is-blue {
    background: $color-main;
  }

  &.is-red {
    background: $color-accent;
  }
}


.news__text {
  width: calc(100% - 185px); 
  padding-left: 20px;
  padding-top: 5px;
  line-height: (20 / 16);

  @include mq('sp'){
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 4px;
  }
}

.news__more {
  margin-top: 60px;
  text-align: center;

  a{
    font-size: 16px;
    font-weight: bold;
    color: $color-accent;
    text-decoration: none;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -10px;
      width: 7px;
      height: 11px;
      transform: translateY(-50%);
      background: url(../img/news-arrow@2x.png) no-repeat center center / contain;
    }
  }
}


/*=================
Price
=================*/

.price {
  background: #EFEFEF;
}

.price__inner {

}

.price__head {

}

.price__content {
  display: flex;

  @include mq('sp'){
    display: block;
  }
}

.price__image {
  width: 454 / 1200 * 100%;
  
  img {
    height: 286px;
  }

  @include mq ('sp'){
    text-align: center;
    width: 100%;
  }
}

.price__table {
  width: (172 + 268 + 268 ) / 1200 * 100%;
  margin-left: auto;

  @include mq ('sp'){
    width: 100%;
    margin-top: 40px;
  }
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-weight: bold;
  width: 100%;
  table-layout: fixed;

  th,td {
    border: 1px solid #707070;
    height: 58px;
    vertical-align: middle;
  }

  tr {
    width: 172px;
  }

  th{
    color: #FFF;
    background: #999999;
    &:first-child{
      width: 172px;
    }
  }

  td {
    text-align: right;
    padding-right: 23px;
    color: #333333;
  }

  strong {
    color: #E81919;
  }

  span {
    font-size: 14px;
    display: block;
  }
}

.price__info {
  font-size: 14px;
  margin-top: 12px;
  a{
    font-weight: bold;
  }
  @include mq ('sp'){
    text-align: center;
  }
}




/*===============
Access
=================*/

.access {
  background: #FFFFFF;
}

.access__inner {
  width: 800px;
  max-width: 100%;
}

.access__head {

}

.access__content {

}

.access__iframe {
  position: relative;
  width: 100%;
  padding-top: (400 / 800) * 100%;
    > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.access__address {
  
}

.access__nav{
  display: flex;
  margin-top: 16px;
}

.access__info {
  width: 64px;
  font-weight: 700;
  font-size: 16px;
}

.access__text {
  margin-left: 40px;
  font-size: 16px;
}

.access__btn {
  margin-top: 94px;
  text-align: center;

  a {
    display: inline-block;
    width: 304px;
    max-width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: $color-main;
    border-radius: 8px;
    box-shadow: #333333;
    text-decoration: none;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 11px;
      right: 12px;
      background: url(../img/news-arrow@2x.png) no-repeat center center / contain;
    }
  
    @include mq('sp'){
      width: 300px;
      height: 60px;
      line-height: 60px;
      font-size: 24px;
    }
  }
}


/*=================
Contact
=================*/

.contact {
  background: #EFEFEF;
}

.contact__inner {

}

.contact__head{
  
}

.contact__form {
  background: #FFFFFF;
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  padding: 60px;
  @include mq("sp"){
    margin-top: 40px;
    padding: 30px;
  }
}

.contact-form {
  
}

.contact-form__dl {
  
}

.contact-form__row {
  display: flex;
  :not(first-chile){
    margin-top: 60px;

    @include mq("sp"){
      margin-top: 10px;
    }
  }

  @include mq("sp"){
    display: block;
  }
}

.contact-form__label {
  width: 160px;
  padding: 5px;

  @include mq("sp"){
    width: 100%;
  }
  label {
    font-weight: bold;

    &.is-required {
      display: inline-block;
      position: relative;
      &::after {
        content: "必須";
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background: #E81919;
        border-radius: 4px;
        text-align: center;
        padding: 3px 8px;
        line-height: 1;
        
        @include mq("sp"){
          top: 50%;
          transform: translateY(-50%);
          left: calc(100% + 50px);
          width: 50px;
        }
      }
    }
  }
}

.contact-form__input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
  
  @include mq("sp"){
    width: 100%;
    margin-top: 5px;
  }

  [type="text"]{
    //初期化
    box-shadow: none;
    border: 1px solid #707070;
    background: #fff;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
  }

  [type="email"]{
    //初期化
    box-shadow: none;
    border: 1px solid #707070;
    background: #fff;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
  }

  select {
    //初期化
    box-shadow: none;
    border: 1px solid #707070;
    background: #fff;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    margin: 0;
  }

  textarea {
    height: 240px;
    //初期化
    box-shadow: none;
    border: 1px solid #707070;
    background: #fff;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    margin: 0;
  }
}

.contact-form__radio{
  margin-top: 32px;
  [type="radio"]{
    display: none;
  }

  span {
    display: inline-block;
    padding-left: 26px;
    position: relative;
    margin-right: 36px;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #707070;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
      border-radius: 50%;
    }

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background: $color-main;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      display: none;
    }
  }

  [type="radio"]:checked + span {
    &::after {
      display: block;
    }
  }
}


.contact-form__check{
  margin-top: 63px;
  text-align: center;
  [type="checkbox"]{
    display: none;
  }

  span {
    display: inline-block;
    padding-left: 49px;
    position: relative;

    &::before {
      content: "";
      width: 25px;
      height: 25px;
      background: #fff;
      border: 1px solid #707070;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &::after {
      content: "";
      width: 13px;
      height: 13px;
      background: $color-main;
      position: absolute;
      left: 6.5px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      display: none;
    }

    a {
      font-weight: bold;
    }
  }
  [type="checkbox"]:checked + span {
    &::after {
      display: block;
    }
  }
}

.contact-form__button{
  margin-top: 30px;
  text-align: center;
  [type="submit"]{
    background: $color-main;
    width: 304px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding: 14px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000, 0.16) ;
    appearance: none;
    font-family: inherit;
    border: none;
  }
}
