@charset "UTF-8";
*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

/*=====================
共通
=====================*/
section {
  padding: 100px 0 120px;
}

@media screen and (max-width: 767px) {
  section {
    padding: 50px 0 60px;
  }
}

.section-title {
  text-align: center;
  font-size: 48px;
  padding-bottom: 14px;
  font-weight: bold;
  position: relative;
  margin-bottom: 108px;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}

@media screen and (max-width: 767px) {
  .section-title::after {
    width: 25px;
    height: 3px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 24px;
    padding-bottom: 16px;
  }
}

/*===============
header
=================*/
.inner {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 180px;
  }
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li {
  width: 100px;
  height: 100px;
}

.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 40px;
  left: 30px;
}

.header__nav li a.is-active::after {
  content: "";
  position: absolute;
  top: -43px;
  left: -30px;
  width: 100px;
  height: 3px;
  background: #E81919;
}

/*===============
main-visual
=================*/
.main-visual {
  height: 600px;
  width: 100%;
  background-image: url(../img/mainvisual.png);
  background-size: cover;
  position: relative;
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .main-visual__title {
    font-size: 32px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .main-visual__lead {
    font-size: 16px;
  }
}

.main-visual__button {
  margin-top: 36px;
}

.main-visual__button a {
  display: inline-block;
  width: 384px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  border-radius: 12px;
  -webkit-box-shadow: #333333;
          box-shadow: #333333;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .main-visual__button a {
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

/*===============
Card
=================*/
.card {
  background: #EFEFEF;
}

.card__inner {
  width: 1200px;
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__item {
  background: #fff;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0;
  }
  .card__item:nth-child(n + 2) {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .card__item {
    width: calc(33.3% - 48px / 3);
  }
  .card__item:not(:nth-child(3n +1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 4) {
    margin-top: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card__item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card__item:not(:nth-child(2n + 1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 3) {
    margin-top: 24px;
  }
}

.card__img img {
  width: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  color: #6F7579;
}

.card__text {
  font-weight: bold;
  margin-top: 14px;
  color: #6F7579;
  line-height: 1.71429;
}

/*=================
News
=================*/
.news {
  background: #fff;
}

.news__content {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.news__notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.news__notice:not(:first-child) {
  border-top: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .news__notice {
    display: block;
  }
}

.news__read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news__time {
  width: 105px;
  padding-top: 5px;
}

.news__label {
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666;
  border-radius: 4px;
  font-weight: bold;
}

.news__label.is-blue {
  background: #3F51B5;
}

.news__label.is-red {
  background: #E81919;
}

.news__text {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 5px;
  line-height: 1.25;
}

@media screen and (max-width: 767px) {
  .news__text {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 4px;
  }
}

.news__more {
  margin-top: 60px;
  text-align: center;
}

.news__more a {
  font-size: 16px;
  font-weight: bold;
  color: #E81919;
  text-decoration: none;
  position: relative;
}

.news__more a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 7px;
  height: 11px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/news-arrow@2x.png) no-repeat center center/contain;
}

/*=================
Price
=================*/
.price {
  background: #EFEFEF;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .price__content {
    display: block;
  }
}

.price__image {
  width: 37.83333%;
}

.price__image img {
  height: 286px;
}

@media screen and (max-width: 767px) {
  .price__image {
    text-align: center;
    width: 100%;
  }
}

.price__table {
  width: 59%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .price__table {
    width: 100%;
    margin-top: 40px;
  }
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-weight: bold;
  width: 100%;
  table-layout: fixed;
}

.table th, .table td {
  border: 1px solid #707070;
  height: 58px;
  vertical-align: middle;
}

.table tr {
  width: 172px;
}

.table th {
  color: #FFF;
  background: #999999;
}

.table th:first-child {
  width: 172px;
}

.table td {
  text-align: right;
  padding-right: 23px;
  color: #333333;
}

.table strong {
  color: #E81919;
}

.table span {
  font-size: 14px;
  display: block;
}

.price__info {
  font-size: 14px;
  margin-top: 12px;
}

.price__info a {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .price__info {
    text-align: center;
  }
}

/*===============
Access
=================*/
.access {
  background: #FFFFFF;
}

.access__inner {
  width: 800px;
  max-width: 100%;
}

.access__iframe {
  position: relative;
  width: 100%;
  padding-top: 50%;
}

.access__iframe > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.access__info {
  width: 64px;
  font-weight: 700;
  font-size: 16px;
}

.access__text {
  margin-left: 40px;
  font-size: 16px;
}

.access__btn {
  margin-top: 94px;
  text-align: center;
}

.access__btn a {
  display: inline-block;
  width: 304px;
  max-width: 100%;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  border-radius: 8px;
  -webkit-box-shadow: #333333;
          box-shadow: #333333;
  text-decoration: none;
  position: relative;
}

.access__btn a::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  right: 12px;
  background: url(../img/news-arrow@2x.png) no-repeat center center/contain;
}

@media screen and (max-width: 767px) {
  .access__btn a {
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

/*=================
Contact
=================*/
.contact {
  background: #EFEFEF;
}

.contact__form {
  background: #FFFFFF;
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  padding: 60px;
}

@media screen and (max-width: 767px) {
  .contact__form {
    margin-top: 40px;
    padding: 30px;
  }
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__row :not(first-chile) {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .contact-form__row :not(first-chile) {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}

.contact-form__label {
  width: 160px;
  padding: 5px;
}

@media screen and (max-width: 767px) {
  .contact-form__label {
    width: 100%;
  }
}

.contact-form__label label {
  font-weight: bold;
}

.contact-form__label label.is-required {
  display: inline-block;
  position: relative;
}

.contact-form__label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #E81919;
  border-radius: 4px;
  text-align: center;
  padding: 3px 8px;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .contact-form__label label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 50px);
    width: 50px;
  }
}

.contact-form__input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .contact-form__input {
    width: 100%;
    margin-top: 5px;
  }
}

.contact-form__input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form__input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form__input select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.contact-form__input textarea {
  height: 240px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.contact-form__radio {
  margin-top: 32px;
}

.contact-form__radio [type="radio"] {
  display: none;
}

.contact-form__radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}

.contact-form__radio span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}

.contact-form__radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3F51B5;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}

.contact-form__radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-form__check {
  margin-top: 63px;
  text-align: center;
}

.contact-form__check [type="checkbox"] {
  display: none;
}

.contact-form__check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}

.contact-form__check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.contact-form__check span::after {
  content: "";
  width: 13px;
  height: 13px;
  background: #3F51B5;
  position: absolute;
  left: 6.5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}

.contact-form__check span a {
  font-weight: bold;
}

.contact-form__check [type="checkbox"]:checked + span::after {
  display: block;
}

.contact-form__button {
  margin-top: 30px;
  text-align: center;
}

.contact-form__button [type="submit"] {
  background: #3F51B5;
  width: 304px;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
}

/*=================
footer
=================*/
.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 46px 40px;
}

@media screen and (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__left {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .footer__left {
    text-align: center;
    width: 100%;
  }
}

.footer__logo {
  width: 205px;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    width: 180px;
    margin: 0 auto;
  }
}

.footer__logo img {
  display: block;
}

.footer__address {
  margin-top: 32px;
  color: #fff;
}

.footer__tel {
  margin-top: 14px;
  color: #fff;
}

.footer__center {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .footer__center {
    width: 100%;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    margin-top: 30px;
  }
}

.footer__nav li {
  width: 100%;
}

.footer__nav li:not(:first-child) {
  margin-left: 40px;
}

.footer__nav li a {
  color: #fff;
  text-decoration: none;
}

.footer__right {
  width: 20%;
}

@media screen and (max-width: 767px) {
  .footer__right {
    width: 100%;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__sns {
    margin: 0 auto;
  }
}

.footer__sns li {
  width: 30px;
}

.footer__sns li:not(:first-child) {
  margin-left: 16px;
}

.footer__copy {
  text-align: center;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */